[Desktop Entry]
Version=3.2.0
Type=Application
Name=stackstorage
GenericName=Cloud
Exec=/home/void/.local/bin/stack-v3.2.0.AppImage
Icon=/home/void/Pictures/stack-storage-icon-350x350.png
